h1{
    font-family: 'Indie Flower', cursive;
    background-color: darkcyan;
    color: aliceblue;
}

*{
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    background-color: paleturquoise;
    list-style-type: none;
}

@media (min-width: 641px) {
    article{
        background-color: gainsboro;
    }
}