h1{
    font-family: 'Indie Flower', cursive;
    background-color: darkcyan;
    color: aliceblue;
}

@media screen and (min-width: 641px) {
    article{
        background-color: gainsboro;
        word-spacing: 300px;
        color: midnightblue;
    }
    footer{
        background-color: royalblue;
        color:aliceblue;
    }
    .shop-items{
        justify-content: center;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 200px 200px;
    }
}

*{
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    background-color: paleturquoise;
    list-style-type: none;
}
